.heading{
    width:100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.modal-dialog{
    width:90%;
}
#source{
    background-color: #f3dede;
    line-height: 2;
    margin:0px;
}
.heading button{
    float: right;
    border:2px solid white;
}
.big_img{
    width:100%;
}
#start,#status{
    font-size: 22px;
}
.instruction_image{
    display:inline-block;
    width:45%;
}
video{
    background: url('game_console.png');
    background-size:cover;
    background-position: center;
    padding:25px;
}